__pycache__

.zip
*gz
*.png 
*.pdf
*.txt
!requirements.txt
*.sh
data.zip
2mnist_10digits.zip
outputs.zip
.vscode/settings.json
*.pt
.conda
runs
pishield_example

/notes
/data_remove
/datasets/utils/2mnist_10digits

evaluation/data
evaluation/ultralytics
evaluation/papermill

shortcut_mitigation/data
shortcut_mitigation/notebooks-outputs

shortcut_mitigation/mnist/run_hidden_experiments.sh
shortcut_mitigation/outputs/mnadd-even-odd/my_models/**/*.pth
shortcut_mitigation/outputs/kand/baseline/**/*.pth
shortcut_mitigation/outputs/kand/my_models/**/*.pth
shortcut_mitigation/outputs/kand/baseline-new
shortcut_mitigation/outputs/mnadd-even-odd/baselines/

shortcut_mitigation/mnist/notebooks/results
shortcut_mitigation/mnist/results
shortcut_mitigation/mnist/notebooks/data
shortcut_mitigation/mnist/data
shortcut_mitigation/mnist/notebooks/data
shortcut_mitigation/mnist/outputs/mnadd-even-odd/my_models/**/*.pth
shortcut_mitigation/mnist/papermill/*.ipynb

shortcut_mitigation/kandinsky/notebooks/data
shortcut_mitigation/kandinsky/run_experiments.sh
shortcut_mitigation/kandinsky/data
shortcut_mitigation/kandinsky/notebooks/data_2
shortcut_mitigation/kandinsky/notebooks/ultralytics/
shortcut_mitigation/kandinsky/notebooks/ultralytics-0
shortcut_mitigation/kandinsky/notebooks/ultralytics-1
shortcut_mitigation/kandinsky/notebooks/ultralytics-2
shortcut_mitigation/kandinsky/notebooks/ultralytics-3
shortcut_mitigation/kandinsky/notebooks/ultralytics-4
shortcut_mitigation/kandinsky/ultralytics
shortcut_mitigation/kandinsky/ultralytics-0
shortcut_mitigation/kandinsky/ultralytics-1
shortcut_mitigation/kandinsky/ultralytics-2
shortcut_mitigation/kandinsky/ultralytics-3
shortcut_mitigation/kandinsky/papermill/
shortcut_mitigation/kandinsky/outputs/mnadd-even-odd/my_models/**/*.pth
shortcut_mitigation/kandinsky/notebooks/yolo11n.pt
shortcut_mitigation/kandinsky/yolo11n.pt
shortcut_mitigation/kandinsky/outputs/kand/my_models/dpl/TEST-episodic-proto-net-pipeline-1.0
shortcut_mitigation/kandinsky/outputs/kand/my_models/ltn/TEST-episodic-proto-net-pipeline-1.0
shortcut_mitigation/kandinsky/outputs/kand/my_models/sl/TEST-episodic-proto-net-pipeline-1.0
shortcut_mitigation/kandinsky/outputs/kand_one_embedding
shortcut_mitigation/kandinsky/outputs/kand/baseline-kandinsky-single-disj/**/*.pth
shortcut_mitigation/kandinsky/outputs/kand/baseline-DEBUG/**/*.pth
shortcut_mitigation/kandinsky/outputs/kand/baseline-kandinsky-single-joint/**/*.pth

shortcut_mitigation/NEW-outputs/mnadd-even-odd/my_models/**/*.pth
shortcut_mitigation/NEW-outputs/mnadd-even-odd/my_models/**/*.log
shortcut_mitigation/NEW-outputs/mnadd-even-odd/baseline/**/*.pth
shortcut_mitigation/NEW-outputs/mnadd-even-odd/baseline/**/*.log
shortcut_mitigation/NEW-outputs/kandinsky/my_models/**/*.pth
shortcut_mitigation/NEW-outputs/kandinsky/my_models/**/*.log
shortcut_mitigation/NEW-outputs/kandinsky/baseline/**/*.pth
shortcut_mitigation/NEW-outputs/kandinsky/baseline/**/*.log
shortcut_mitigation/NEW-outputs/bddoia/baseline/**/*.pth
shortcut_mitigation/NEW-outputs/bddoia/baseline/**/*.log
shortcut_mitigation/NEW-outputs/bddoia/my_models/**/*.pth
shortcut_mitigation/NEW-outputs/bddoia/my_models/**/*.log
shortcut_mitigation/NEW-outputs/mnmath/my_models/**/*.pth
shortcut_mitigation/NEW-outputs/mnmath/my_models/**/*.log
shortcut_mitigation/NEW-outputs/mnmath/baseline

shortcut_mitigation/bddoia/data
shortcut_mitigation/bddoia/bdd_models/bdd100k_24.pth
shortcut_mitigation/bddoia/notebooks/data/ckpts
shortcut_mitigation/bddoia/NEW-outputs/bddoia/baseline/**/**/*.log
shortcut_mitigation/bddoia/NEW-outputs/bddoia/baseline/**/**/*.pth

shortcut_mitigation/outputs++/mnadd-even-odd/baseline/**/*.pth
shortcut_mitigation/outputs++/mnadd-even-odd/baseline/**/*.log
shortcut_mitigation/outputs++/kand/baseline-single-joint/**/*.pth
shortcut_mitigation/outputs++/kand/baseline-single-disj/**/*.pth
shortcut_mitigation/outputs++/kand/baseline-single-dis/**/**/*.pth
shortcut_mitigation/outputs++/bddoia/baseline/disj/**/**/*.pth
shortcut_mitigation/outputs++/bddoia/baseline/joint/**/**/*.pth
shortcut_mitigation/outputs++/bddoia/baseline/disj/**/**/*.log
shortcut_mitigation/outputs++/bddoia/baseline/joint/**/**/*.log